{% extends 'store/index.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">

            
        <section class="left-col" id="cart">
            <table>
                <thead>
                    {% for item in items %}
                    <tr>
                        <td>Remove</td>
                        <td>Image</td>
                        <td>Product</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="{% url 'shopping_cart:remove_from_cart' item.id %}"></a><i class="fa-solid fa-trash-can"></i></td>
                        <td><img src="/static/images/_.jpeg" alt=""></td>
                        <td>{{ item.item.title }}</td>
                        <td>Ksh.{{ item.item.price }}</td>
                        <td><input type="number" value="{{ item.quantity }}"></td>
                        <td>Ksh.{{ item.price_VAT_inclusive }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <br>
        </section>
            
        </div>
        <div class="col-sm-4">
            <section class="right-col">
                <div class="total-price">
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td>Ksh.{{ subtotal }}</td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td>{{ tax }}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>Ksh.{{ total }}</td>
                        </tr>
                    </table>
                </div>
                    <a href="{% url 'checkout' %}" class="btn checkout-btn">Checkout</a>
            </section>
        </div>
    </div>
</div>
 
{% endblock content %}