{% extends 'store/index.html' %}
{% load static %}

{% block content %}

<div class="content-section login">
    <div class="row mt-5">
        <div class="col">
            <div>
                <fieldset class="form-group">
                    <legend class="paymentheader border-bottom mb-4 text-center">Payment Information</legend>
                    <div class="form-group mb-4 row d-flex justify-content-center">
                        <label for="exampleInputName" class="form-label text-center">Your fullname</label>
                        <input class="form-control" id="exampleInputName" placeholder=" Enter your full name" required style="width: 20rem; padding: 10px;">
                    </div>
                    <div class="form-group mb-4 row d-flex justify-content-center">
                        <label for="exampleInputContact" class="form-label text-center" >Your Phone Number</label>
                        <input class="form-control" id="exampleInputContact" [(ngModel)]="phone" placeholder="+254" required style="width: 20rem; padding: 10px;">
                    </div>
                    <div class="text-center button">
                      <button type="button" (click)="OnClick()" class="btn" style="background-color:#072227;padding: 20px 40px;color:white;margin: 10px;border-radius: 50px;">Pay Order</button>
                    </div>
                    <div class="text-center button">
                     <a href="{% url 'checkout' %}" class="btn" style="background-color:#072227;padding: 20px 40px;color:white;margin: 32px;border-radius: 50px;">Checkout</a>
                    </div>
                </fieldset>
              </div>
        </div>
        </div>
           
    </div>
   
{% endblock content %}